body {
  font-size: 20px;
  background-image: url(https://images.tcdn.com.br/img/img_prod/607564/papel_de_parede_textura_folhas_fae27e_3257_3_e22487885ba8775309d9a05d1ec21f48.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#cabecalho {
  position: fixed;
  top: 0px;
  left: 320px;
  background-color: rgb(248, 154, 120);
  padding: 10px;
  color: white;
  z-index: 1;
}

#link_portfolio {
  display: block;
  margin-top: 510px;
  margin-left: 60px;
  width: 150px;
  padding: 10px 15px;
  text-align: center;
  background-color: rgb(148, 168, 146);
}

#minha_foto {
  margin-top: 10px;
  border: 3px solid rgb(148, 168, 146);
  border-radius: 20%;
  position: absolute;
  left: 60px;
  top: 160px;
}

p {
  line-height: 30px;
  font-family: cursive;
}

#artigo {
  display: block;
  background-color: rgba(252, 164, 132, 0.795);
  width: 500px;
  text-align: justify;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

#aprendizados {
  display: block;
  background-color: rgba(211, 141, 115, 0.822);
  width: 218px;
  text-align: justify;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.lado-esquerdo {
  position: absolute;
  left: 50px;
  top: 630px;
}

.lado-direito {
  position: absolute;
  left: 650px;
  top: 630px;
}

#tabela {
  display: block;
  position: absolute;
  margin-top: 400px;
  left: 280px;
  top: 80px;
  padding: 20px;
  text-align: center;
}

#licoes_aprendidas {
  display: block;
  width: 200px;
  background-color: rgb(148, 168, 146);
  padding: 20px;
  padding-left: 50px;
  position: absolute;
  left: 320px;
  top: 140px;
}

#licoes_a_aprender {
  display: block;
  width: 200px;
  background-color: rgb(148, 168, 146);
  padding: 20px;
  padding-left: 50px;
  position: absolute;
  left: 600px;
  top: 140px;
}

.linhas {
  background: rgba(173, 170, 170, 0.767);
}

.largura {
  width: 190px;
}